<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>{% block title %}My Profile{% endblock %}</title>

    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>

<body>

    <nav>
        <a href="{{url_for('home')}}">Home</a>
        <a href="{{url_for('about')}}">About</a>
        <a href="{{url_for('projects')}}">Projects</a>
        <a href="{{url_for('skills')}}">Skills</a>
    </nav>

    <main>
        {% block content %}
        {% endblock %}
    </main>

    <footer>
        <p>© 2026 My Profile</p>
    </footer>

</body>
</html>
